.color-mode-button {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.color-mode-button:hover {
    transform: scale(1.2);
}

.color-mode-button:active {
    transform: scale(1);
}

@media (max-width: 600px) {
    .color-mode-button {
    width: 24px;
    height: 24px;
    }
}

.light {
    background-image: url("/components/ColorMode/light_mode.svg");
}

.dark {
    background-image: url("/components/ColorMode/dark_mode.svg");
}