.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  z-index: 5;
  width: 200px;
  min-height: 100vh;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
}

.sidebar-list a {
  padding: 10px 5px;
  color: #fff;
  text-align: left;
  background: #0000;
  cursor: pointer;
}

.sidebar-list a:hover {
  background: #3f3f3f;
}

.sidebar-list a::before {
  color: transparent;
  content: "$ ";
}

.sidebar-list a:hover::before {
  color: #fff;
}