.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  z-index: 5;
  width: 200px;
  min-height: 100vh;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar-list button {
  width: 100%;
  min-height: 40px;
  padding-left: 20px;
  color: #fff;
  text-align: left;
  background: #0000;
  cursor: pointer;
}

.sidebar-list button:hover {
  background: #3f3f3f;
}

.sidebar-list button::before {
  color: transparent;
  content: "$ ";
}

.sidebar-list button:hover::before {
  color: #fff;
}